
#restartBtn{
    color:white;
    background-color:dodgerblue;
    text-decoration:none;
    padding:10px 15px;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 600px;
    position: absolute;
    top: 540px;
}

canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    margin-left: 40px;
}